* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: rgb(50, 156, 189);
    letter-spacing: 2px;
}

.navbar img:hover {
    transform: scale(1.25);
    transition: 0.2s;
    cursor: pointer;
}

li a {
    font-size: 22px;
    color: black;
}

footer {
    background-color: rgb(62, 115, 214);
    padding: 100px;
}

.fab {
    color: black;
}

.textoBranco {
    color: white !important;
}

.titulosBrancos {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

h6 {
    font-size: 15px;
}

.cep {
    margin-top: 75px;
    margin-left: 75px;
}

.tel {
    margin-left: 75px;
    margin-top: 25px;
}

.email {
    margin-left: 75px;
    margin-top: 25px;
}

.loca {
    margin-bottom: 30px;
}

.telefone h3 {
    text-decoration: underline;
    border-style: inset;
    border-color: rgb(50, 156, 189);
}

.loca h3 {
    text-decoration: underline;
    border-style: inset;
    border-color: rgb(50, 156, 189);
}

@media only screen and (max-width: 600px) {
    .telefone {
        display: flow-root;
        align-items: center;
        flex-direction: column;
    }
    .loca {
        align-items: center;
        display: inline;
        width: 100px;
        height: 150px;
    }
}