* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: rgb(50, 156, 189);
    letter-spacing: 2px;
}

.navbar img:hover {
    transform: scale(1.25);
    transition: 0.2s;
    cursor: pointer;
}

li a {
    font-size: 22px;
    color: black;
}

.inicio h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 15px;
}

h2 {
    background-color: rgb(50, 156, 189);
    text-align: center;
    margin-bottom: 15px;
    margin-top: 25px;
}

.ambiental {
    margin-bottom: 100px;
}

ul {
    margin-left: 25px;
}