* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: rgb(50, 156, 189);
    letter-spacing: 2px;
}

.navbar img:hover {
    transform: scale(1.25);
    transition: 0.2s;
    cursor: pointer;
}

h2 {
    background-color: rgb(50, 156, 189);
}

li a {
    font-size: 22px;
    color: black;
}

.container {
    margin-bottom: 100px;
}